// Miscellaneous data
title Howard Pearce
// Metadata
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='author' content='Howard Pearce')
meta(name='description' content='My Portfolio')
// Included fonts
link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Staatliches&display=swap' rel='stylesheet')
link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,600&display=swap' rel='stylesheet')
// CSS: using uikit because it looks cool!
link(rel='stylesheet' type='text/css' href='../css/uikit.min.css')
link(rel='stylesheet' type='text/css' href='../css/header.css')
link(rel='stylesheet' type='text/css' href='../css/defaults.css')
link(rel='stylesheet' type='text/css' href='../css/utils.css')
link(rel='stylesheet' type='text/css' href='../css/main.css')
link(rel='stylesheet' type='text/css' href='../css/responsive.css')
link(rel='stylesheet' type='text/css' href='../css/text.css')
link(rel='stylesheet' type='text/css' href='../css/post.css')
link(rel='stylesheet' type='text/css' href='../css/admin.css')
// Font awesome
link(rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.css")
// JavaScript: uikit dependencies + some scrolling scripts
script(src='js/uikit.min.js')
script(src='js/uikit-icons.min.js')
script(src='js/scroll.js')
script(src='js/ajax.js')
.all_elements
nav#nav.navbar-container
  .header-card-container
    div.flex
      if loggedin
        .header-card
          a.custom-underline(href='/logout')  Log out
        .header-card
          a.custom-underline(href='/admin')  Admin
      else
        if login
          .header-card
            a.custom-underline.fail(href='/auth')  Login Failed!
        else
          .header-card
            a.custom-underline(href='/auth/')  Login
      if edit
        .header-card
          p.success(style="position:relative; top: 2px;") Successfully edited!
      if del
        .header-card
          p.success(style="position:relative; top: 2px;") Successfully deleted!
      
    .flex
      .header-card
        a.custom-underline(href='/')  Home     
      .header-card
        a.custom-underline(href='/resume')  Resume   
      .header-card
        a.custom-underline(href='/posts/view_posts')  Posts  
  hr.thin-hr
