include includes/mixins.pug
  
doctype html
head
  include includes/nav.pug
  div.container.flexbox.flex-col
    each module in doc.modules
      if module.module_type == "paragraph"
        +paragraph(module.inputFields)
      
