doctype html
head
  // Miscellaneous data
  title Howard Pearce
  // Metadata
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='author' content='Howard Pearce')
  meta(name='description' content='My Portfolio')
  // Included fonts
  link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Staatliches&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,600&display=swap' rel='stylesheet')
  // CSS: using uikit because it looks cool!
  link(rel='stylesheet' type='text/css' href='css/uikit.min.css')
  link(rel='stylesheet' type='text/css' href='css/header.css')
  link(rel='stylesheet' type='text/css' href='css/defaults.css')
  link(rel='stylesheet' type='text/css' href='css/utils.css')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  link(rel='stylesheet' type='text/css' href='css/responsive.css')
  link(rel='stylesheet' type='text/css' href='css/text.css')
  // JavaScript: uikit dependencies + some scrolling scripts
  script(src='js/uikit.min.js')
  script(src='js/uikit-icons.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='js/scroll.js')
.all_elements
  nav#nav.navbar-container
    .header-card-container
      div
        .header-card
          a.custom-underline(href='auth/google')  Login
      .flex
        .header-card
          a.custom-underline(href='#' onclick="scrollto('home')")  Home
        .header-card
          a.custom-underline(href='resume/resume.pdf')  Resume
        .header-card
          a.custom-underline(href='#' onclick="scrollto('contact')")  Contact
        .header-card
          a.custom-underline(href='#' onclick="scrollto('about')")  About Me
    hr.thin-hr
  // Intro title image, takes up full width/height of the screen
  #title.title-container.centered-container
    img.title(src='svg/central_logo_white.svg' alt='Howard Pearce')
  // About Me section
  article#about.p-sides-20.full-height
    br
    h2.section-header  About Me:
    .vertical-container.p-20
      div
        p
          strong.accent  Student:
          |  I&apos;m a fourth year student at
          a(href='https://www.dal.ca/' target='_blank') Dalhousie University
          |  studying Computer Science
          em.small-text  (Semester 7/8)
          | .
          |               I plan to graduate in spring 2021 with a Bachelor&apos;s degree of Computer Science, certificate in artificial intelligence, and designation for their co-operative education program.
          |               I finish my last semester in the fall of 2020 and am ready to work immediately after this.
          |               Professionally I am interested in back-end development and working with machine learning algorithms.
          |               I am also interested in full-stack development, but am not interested in doing exclusively front end work.
      hr
      div
        p
          strong.accent  Athlete:
          |  I have played sports since I was 6, mostly playing hockey but I also have played soccer, baseball, and football.
          |               I also started training at the gym in 2018, and have been going regularly since. I primarily do strength training, but also run outdoors while weather permits.
          |               For me fitness is a great way to clear my head and refresh myself after spending long periods of time at the keyboard or indoors.
          |               I find it very rewarding to set long-term fitness goals for myself and achieve them. I also enjoy competing with my friends who I train with.
      hr
      div
        p
          strong.accent  Creator:
          |  My passion for Computer Science stems from my passion for creating in general.
          |               It&apos;s my lifelong passion to create new things in varying and engaging ways.
          |               I am a hobbyist woodworker, graphic designer, sewist, and I enjoy electronics using microcontrollers such as Arduino.
          |               To me, making something from nothing and overcoming the challenges that come along the way to be the most rewarding thing you can do.
          |               I also enjoy repairing things that I buy, and doing the same for my friends.
  // Contact Section
  article#contact.p-sides-20.full-height
    br
    h2.section-header  Contact:
    .p-20.vertical-container
      h4.m-0  Business:
      p.m-10(style='padding-left: 20px;')
        | Feel free to connect with me via any of the following channels. I&apos;ll be sure to respond within 1-2 business days.
      ul.no-deco.m-0
        li
          strong.accent  LinkedIn:
          a(href='https://ca.linkedin.com/in/howard-alexander-pearce')  howard-alexander-pearce
        li
          strong.accent  Email:
          |  Howard.Pearce@dal.ca
      // spacer
      .p-10
      h4.m-0  Social:
      p.m-10(style='padding-left: 20px;')
        | See what I&apos;m up to day-to-day! Most of the work I do is on my school&apos;s local Gitlab server.
      ul.no-deco.m-0
        li
          strong.accent  Github: 
          a(href='https://github.com/strigiforme' target='_blank')  strigiforme
        li
          strong.accent  Gitlab:
          a(href='https://git.cs.dal.ca/hpearce' target='_blank')  hpearce
        li
          strong.accent  Stack Exchange:
          a(href='https://stackoverflow.com/users/7474480/howard-p' target='_blank')  Howard P
        li
          strong.accent  Facebook:
          a(href='https://www.facebook.com/howard.pearce.52' target='_blank')  howard.pearce.52
        li
          strong.accent  Instagram:
          a(href='https://www.instagram.com/howie_pearce/' target='_blank')  howie_pearce
