doctype html
head
  include includes/nav.pug
  div.container.flexbox.flex-col
    div
      h2.blue Resume
    hr.thin-hr.padded
    div.flexbox.flex-col
      iframe(src="../resume/resume.pdf", title="Resume")
          
