input[type=textarea]{
  height: 100px;
}

input[type=text]{
  margin-bottom: 1rem;
  font-size: 16px;
}

label {
  font-size: 16px;
}

.floating-label {
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: -15px;
  background-color: white;
  padding: 3px;
}

.floating-input {
  padding: 10px;
  margin-bottom: 1rem;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}

.input-container{
  position: relative;
}

textarea {
  margin-bottom: 1rem;
  font-size: 16px;
  padding: 3px;
}

select {
  padding: 3px;
  font-size: 16px;
}

.post-container {
  background-color: lightgray;
  margin-bottom: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.post-container a {
  font-size: 24px;
  padding: 1rem;
  color: black;
}

.post-container a i {
  font-size: 24px;
}

.blue {
  color:#668dba;
}

.post-nav {
  text-align: center;
}

.post-nav-item {
  margin-right: 5px;
  padding: 5px;
  background-color:lightgrey;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid lightgrey;
  border-bottom: 0px;
  min-width: 2rem;
}

.active {
  background-color: #D4AF37;
  border-color: #D4AF37;
}

.post-nav-item a {
  color: black;
  text-decoration: none;

}

.notop {
  margin-top: 0px;
}

.code-container {
  background-color: #101518;
  padding: 10px;
  border-radius: 10px;
}

.code {
  margin: 2px;
  color: #dadada;
}
