/* Utility styles that I spam (probably in poor form) so they need their own class */

/* Flexbox stuff */
/* Some nice default containers */
.vertical-container {
  display:flex;
  flex-direction: column;
}

.horizontal-container {
  display:flex;
  flex-direction: row;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* quick flexbox stylings */
.flex         { display: flex;           }
.flex-col     { flex-direction: column;  }
.flex-row     { flex-direction: row;     }
.wrap         { flex-wrap: wrap;         }
.wrap-reverse { flex-wrap: wrap-reverse; }
.nowrap       { flex-wrap: nowrap;       }

/* width and height stuff */
.height-100 { height: 100%; }
.full-height { min-height: 100vh; }

/* padding and margins */
.p-0 { padding: 0px;   }
.p-5 { padding: 5px;   }
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }

.m-sides-0 { padding-left: 0px; padding-right: 0px;}
.p-sides-5 { padding: 0px 5px;  }
.p-sides-10 { padding: 0px 10px; }
.p-sides-15 { padding: 0px 15px; }
.p-sides-20 { padding: 0px 20px; }

.m-0 { margin: 0px;    }
.m-5 { margin: 5px;    }
.m-10 { margin: 10px;  }
.m-15 { margin: 15px;  }
.m-20 { margin: 20px;  }

.m-sides-0 { margin-left: 0px; margin-right: 0px;}
.m-sides-5 { margin: 0px 5px; }
.m-sides-10 { margin: 0px 10px; }
.m-sides-15 { margin: 0px 15px; }
.m-sides-20 { margin: 0px 20px; }
