<div class = "full-container flex space-between">
  <div class = "full-container introduction">
    <p class = "secondary-text greeting"> Nice to meet you. My name's </p>
    <h1 class = "hero-text"> HOWARD PEARCE </h1>
    <p class = "secondary-text description">I am a professional <em class="highlight">software developer</em>. I love design and solving technically challenging problems.</p>
    <p class = "secondary-text">I made this website to showcase my work, and to talk about what projects I'm currently working on. </p>
  </div>
  <div class = "full-container">


  </div>
</div>
