.flex {
  display: flex;
}

.flex div {
  display: inline-block;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.vertical-center {
  align-items: center;
}
