@font-face {
  font-family: "Rama Gothic E Bold";
  src: local("Rama"), url("../../assets/fonts/Rama/RamaGothicE-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Rama Gothic E SemiBold";
  src: local("Rama"), url("../../assets/fonts/Rama/RamaGothicE-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "TT Mussels";
  src: local("Mussels"), url("../../assets/fonts/Mussels/TTMussels-Regular.ttf") format("truetype");
}

a,p {
  font-family: "Open Sans";
}

a {
  text-decoration: none;
}

.accent-text {
  font-family: "TT Mussels";
}

.secondary-text {
  font-size: 24px;
}

.hero-text {
  font-family: "Rama Gothic E SemiBold";
  font-size: 128px;
}

@media only screen and (max-width: 1800px) {
  .hero-text {
    font-size: 100px;
  }
}

@media only screen and (max-width: 1500px) {
  .hero-text {
    font-size: 80px;
  }
}

.highlight {
  color: #FE5000;
}
