body {
  background-color: #EFEFEF;
}

/* https://getcssscan.com/css-box-shadow-examples */
.guide-body {
  width: 800px;
  min-height: 100vh;
  margin: auto;
  margin-top: 2em;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 2em;
  padding-bottom: 0px;
  box-sizing: border-box;
  background-color: #FFF;
}

.guide-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Staatliches";
  letter-spacing: 5px;
  margin: 0px;
}

.up1 {
  position: relative;
  bottom: 12px;
}

.up2 {
  position: relative;
  bottom: 24px;
}

.header{
  font-family: "Open Sans";
  color: #555;
  margin-bottom: 5px;
  display: inline-block;
}

.small-header {
  font-family: "Open Sans";
  color: #555;
  margin-bottom: 5px;
  margin-top: 10px;
  display: inline-block;
  font-size: 1.5em;
}

.sub-header {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 0px;
}

.sub-sub-header {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0px;
}

p {
  margin-top: 15px !important;
}

.small {
  font-size: 16px;
}

.indent {
  padding-left: 10px;
}

.spacer {
  height: 5vh;
}

.page-spacer{
  height: 100vh;
}

.color-card {
  box-sizing: content-box;
  width: calc(25% - 20px);
  margin: 5px;
  padding-top: calc(20% - 10px);
  padding-left: calc(25% - 10px);
  text-align: center;
  position: relative;
}

.red {
  background-color: #DC2B30;
  box-shadow: rgba(220, 43, 48, 0.6) 0px 20px, rgba(220, 43, 48, 0.4) 0px 40px, rgba(220, 43, 48, 0.2) 0px 60px, rgba(220, 43, 48, 0.1) 0px 80px;
}

.blue {
  background-color: #042861;
  box-shadow: rgba(4, 40, 97, 0.6) 0px 20px, rgba(4, 40, 97, 0.4) 0px 40px, rgba(4, 40, 97, 0.2) 0px 60px, rgba(4, 40, 97, 0.1) 0px 80px;
}

.grey {
  background-color: #B8CAD1;
  box-shadow: rgba(184, 202, 209, 0.6) 0px 20px, rgba(184, 202, 209, 0.4) 0px 40px, rgba(184, 202, 209, 0.2) 0px 60px, rgba(184, 202, 209, 0.1) 0px 80px;
}

.gold {
  background-color: #D4AF37;
  box-shadow: rgba(212, 175, 55, 0.6) 0px 20px, rgba(212, 175, 55, 0.4) 0px 40px, rgba(212, 175, 55, 0.2) 0px 60px, rgba(212, 175, 55, 0.1) 0px 80px;
}
