<div class="primary-grid">
  <!-- Grid is 3x5, leaving 15 spaces. Each of these divs covers one -->
  <!-- Order goes from right to left, like reading a sentence. -->
  <!-- this seems wrong. Lots of repetition. Maybe revisit. -->
  <div class="border-bottom-grey border-right-grey"></div>
  <div class="border-bottom-grey"></div>
  <div class="border-bottom-grey border-left-grey"></div>
  <div class="border-bottom-grey border-right-grey"></div>
  <div class="border-bottom-grey"></div>
  <div class="border-bottom-grey border-left-grey"></div>
  <div class="border-bottom-grey border-right-grey"></div>
  <div class="border-bottom-grey"></div>
  <div class="border-bottom-grey border-left-grey"></div>
  <div class="border-bottom-grey border-right-grey"></div>
  <div class="border-bottom-grey"></div>
  <div class="border-bottom-grey border-left-grey"></div>
  <div class="border-right-grey"></div>
  <div class=""></div>
  <div class="border-left-grey"></div>
</div>
