doctype html
head
  include ../includes/nav.pug
  div.container.flexbox.flex-col
    div
      h2 Add Post:
    hr.thin-hr.padded
    div.flexbox.flex-col
      form.flexbox.flex-col(action="/posts/upload-post", method='POST')
        input(type="text", name="title", placeholder="Post Title")
        input(type="textarea", name="content", placeholder="Post Content", rows="4")
        input(type="submit" value="Add Post")
