doctype html
head
  include ../includes/nav.pug
  div.container.flexbox.flex-col
    div
      h2 Edit Post:
    hr.thin-hr.padded
    div.flexbox.flex-col
      form.flexbox.flex-col(action="/posts/upload-post-edit", method='POST')
        input(type="text", name="id", value="" + postData.id hidden)
        input(type="text", name="title", placeholder="Post Title", value="" + postData.title)
        input(type="textarea", name="content", placeholder="Post Content", rows="4", value="" + postData.content)
        input(type="submit" value="Edit Post")
