doctype html
head
  include ../includes/nav.pug
  div.container.flexbox.flex-col
    div
      h2 Error loading post
    hr.thin-hr.padded
    div.flexbox.flex-col
      p An error has ocurred, please try again later!
