doctype html
head
  include ../includes/nav.pug
  div.container.flexbox.flex-col
    div
      h2.failure Error uploading post
    hr.thin-hr.padded
    div.flexbox.flex-col
      p An error ocurred while uploading, please try again later!
