doctype html
head
  include ../includes/nav.pug
  div.container.flexbox.flex-col
    div
      h2.blue #{postdata.title}
    hr.thin-hr.padded
    div.flexbox.flex-col
      each line in content
        p #{line}
    if postdata.snippet
      h3.blue Code snippet:
      form.flexbox.flex-col(action="?", method='GET')
        input(type="hidden", name="id", value="" + postdata._id)
        input(type="text", name="args", placeholder="args")
        input(type="submit")
      div.code-container
        each line in code
          p.code #{line}
