doctype html
head
  include ../includes/nav.pug
  div.container.flexbox.flex-col
    div
      h2.blue Posts:
    div.flexbox.post-nav
      div.post-nav-item(class = type == "blog" ? "active" : "")
        a(href="/posts/view_posts?type=blog") Blogs
      div.post-nav-item(class = type == "info" ? "active" : "")
        a(href="/posts/view_posts?type=info") Info
      div.post-nav-item(class = type == "project" ? "active" : "")
        a(href="/posts/view_posts?type=project") Projects
      div.post-nav-item(class = !type ? "active" : "")
        a(href="/posts/view_posts") All
    hr.thin-hr.padded.notop
    div.flexbox.flex-col
      if !postdata
        div.post-container
          a(href="#") No posts available yet!
      each post in postdata
        div.post-container
          a(href="/posts/view_post?id=" + post.id) #{post.title}
