doctype html
head
  include ../includes/nav.pug
  div.container.flexbox.flex-col
    div
      h2 View Posts:
    hr.thin-hr.padded
    div.flexbox.flex-col
      if !postdata
        div.post-container
          a(href="#") No posts available yet!
      each post in postdata
        div.post-container
          a(href="/posts/view_post?id=" + post.id) #{post.title}
