<div class="navbar-container">
  <div class="navbar-link-container">
    <div style="border-radius: 50%; border: 2px solid #FE5000; height: 72px; width: 73px; margin-right: 20px;">
    </div>
    <p class="logo">HO.PE</p>
  </div>
  <div class="navbar-link-container">
    <div class="navbar-item-container">
          <a href="#" class="navbar-item main"> HOME </a>
          <div class="up-arrow"></div>
    </div>
    <div class="navbar-item-container">
      <a href="#" class="navbar-item"> PROJECTS </a>
    </div>
    <div class="navbar-item-container">
      <a href="#" class="navbar-item"> WORK </a>
    </div>
    <div class="navbar-item-container">
      <a href="#" class="navbar-item"> CONTACT </a>
    </div>
  </div>
</div>
