doctype html
head
  include ../includes/nav.pug
  div.container.flexbox.flex-col
    br
    div.flexbox.flex-col
      form.flexbox.flex-col(action="/posts/upload-post", method='POST', enctype="multipart/form-data")
        div.input-container
          label(for="title").floating-label Document Title
          input(type="text", name="title").floating-input
